.vs/VSWorkspaceState.json
.vs/RussianRoulette/v17/DocumentLayout.backup.json
.vs/RussianRoulette/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/RussianRoulette/v17/.wsuo
.vs/RussianRoulette/FileContentIndex/c98b70b9-081a-419a-b38f-139ecf4bead1.vsidx
.vs/RussianRoulette/FileContentIndex/935bea8c-6973-4792-aef3-eedeb6003985.vsidx
.vs/RussianRoulette/FileContentIndex/12eb85d1-cb34-42f2-985d-40bcafd30288.vsidx
.vs/RussianRoulette/FileContentIndex/b79d074e-66d4-462a-9cc1-39ffa880d87d.vsidx
.vs/RussianRoulette/FileContentIndex/1840cf70-4b44-4521-b5ff-27809bf0d808.vsidx
bin/Debug/net8.0/Russian Roulette.dll
bin/Debug/net8.0/Russian Roulette.exe
bin/Debug/net8.0/Russian Roulette.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/ref/Russian Roulette.dll
obj/Debug/net8.0/refint/Russian Roulette.dll
obj/Debug/net8.0/Russian Roulette.AssemblyInfo.cs
obj/Debug/net8.0/Russian Roulette.AssemblyInfoInputs.cache
obj/Debug/net8.0/Russian Roulette.assets.cache
obj/Debug/net8.0/Russian Roulette.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Russian Roulette.dll
obj/Debug/net8.0/Russian Roulette.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Russian Roulette.genruntimeconfig.cache
obj/Debug/net8.0/Russian Roulette.pdb
obj/Debug/net8.0/Russian Roulette.sourcelink.json
obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Release/net8.0/Russian Roulette.AssemblyInfo.cs
obj/Release/net8.0/Russian Roulette.AssemblyInfoInputs.cache
obj/Release/net8.0/Russian Roulette.assets.cache
obj/Release/net8.0/Russian Roulette.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net8.0/Russian Roulette.GlobalUsings.g.cs
.vs/RussianRoulette/FileContentIndex/329c0411-e698-41a3-96bf-abc92beda50d.vsidx
bin/Debug/net8.0/Russian Roulette.dll
bin/Debug/net8.0/Russian Roulette.exe
bin/Debug/net8.0/Russian Roulette.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/ref/Russian Roulette.dll
